body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #f4f8fb;
  color: #333;
}

/* NAVBAR */
header {
  background-color: #0a74da;
  color: white;
  padding: 20px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

nav h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8em;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul li a:hover {
  color: #aee2ff;
}

/* HERO SECTION */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.2em;
  color: #0a74da;
}

.hero p {
  max-width: 600px;
  margin: 20px auto;
  font-size: 1.1em;
}

.botao {
  background-color: #0a74da;
  color: white;
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

.botao:hover {
  background-color: #095bb5;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 15px;
  background-color: #0a74da;
  color: white;
  margin-top: 80px;
}
